<div class="main-content-head">
  <p>hogefuga</p>
  <div class="main-content-head-button">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-content-item">
  <div class="main-content-item-name">
    <p class="main-content-item-name-name">Tom</p>
    <p class="main-content-item-name-month">2020/3/31(Wed) 12:43:30</p>
  </div>
  <div class="main-content-item-text">
    <p class="main-content-item-text-text">おはよう</p>
  </div>
  <div class="main-content-item-name">
    <p class="main-content-item-name-name">Tom</p>
    <p class="main-content-item-name-month">2020/3/31(Wed) 12:47:30</p>
  </div>
  <div class="main-content-item-text">
    <p class="main-content-item-text-text">こんにちは</p>
  </div>
</div>
<div class="main-content-foot">
  <div class="form-input">
    <input class="main-content-foot-text" type="text" placeholder="type a message"/>
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="main-content-foot-button" type="submit" value="送信">
</div>