
<div class="message">
  <div class="main-content-item-name">
    <div class="main-content-item-name-name">
      <%=message.user.name%>
    </div>
    <div class="main-content-item-name-month">
      <%=l message.created_at%>
    </div>
  </div>
  <div class="main-content-item-text">
    <div class="main-content-item-text-text">
      <%=message.content%>
    </div>
    <%=image_tag message.image.variant(resize: '500x500'),class: 'message-image' if message.image.attached?%>
  </div>
</div>