
<div class="message">
  <div class="main-content-item-name">
    <div class="main-content-item-name-name">
      <%=message.user.name%>
    </div>
    <div class="main-content-item-name-month">
      <%=message.created_at%>
    </div>
  </div>
  <div class="main-content-item-text">
    <div class="main-content-item-text-text">
      <%=message.content%>
    </div>
  </div>
</div>