<div class="side-content-head">
  <div class="side-content-title">
    <%=link_to current_user.name,edit_user_path(current_user)%>
  </div>
  <div class="side-content-link-box">
      <%=link_to "チャットを作成する",new_room_path%>
  </div>
</div>

<div class="side-content-item">
  <% current_user.rooms.each do |room|%>
    <div class="side-room-link">
      <a href="#"><%=room.name%></a>
    </div>
  <%end%>
</div>